<!DOCTYPE html>
<html lang="mr"> <!-- Change the language attribute to Marathi -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>टीबी सर्वेक्षण फॉर्म</title> <!-- Translate the title -->
  <link rel="stylesheet" href="../static/css/formtb.css">
</head>

<body>
  <div class="container">
    <div class="heading">टीबी स्क्रीनिंग फॉर्म</div> <!-- Translate the heading -->
    <div id="questionContainer" class="question-container">
      <!-- Questions will be dynamically inserted here -->
    </div>
    <button id="nextBtn" class="btn">पुढे</button> <!-- Translate the button labels -->
    <button type="submit" id="submitBtn" class="btn submit hide">सबमिट</button> <!-- Translate the button labels -->

    <form id="surveyForm" class="hide">
      <!-- Hidden form for submission -->
    </form>

    <div id="endScreen" class="end-screen hide">
      <!-- End screen content -->
      <button id="finalSubmitBtn" class="btn submit hide">सबमिट</button> <!-- Translate the button labels -->
    </div>
  </div>

  <script src="../static/js/tbform.js"></script>
</body>
</html>

